@{
    Layout = "~/Views/User/_UserLayout.cshtml";
    ViewBag.Title = "Change Password";
}

    <div class="left mylogin" style="">
        <h1>Update Password</h1>
        <form method="post">
            <input type="password" placeholder="Password" id="password" name="password" required>
            <input type="password" placeholder="Confirm Password" id="confirm_password" required>
            <input type="submit" name="signup_submit" style="background-color: #70af82;" value="Change" />
            <br /><hr />
            <p style="margin:2px;">
                <a href="/User/Login">Already Member ? Login</a>
            </p>
            <p style="margin:5px;">
                <a href="/User/RequestJoin">No Account ? Join</a>
            </p>
        </form>
    </div>
@section scripts{
    
<script>
    var password = document.getElementById("password");
    var confirm_password = document.getElementById("confirm_password");

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>

    }