@{
    Layout = "~/Views/User/_UserLayout.cshtml";
    ViewBag.Title = "Login";
}
<div class="left mylogin" style="">
    <h1>Sign In</h1>
    <h5 class="text-danger" style="font-weight:bold;">@ViewBag.error</h5>
    <form method="post" action="/User/Login">
        <input type="text" name="Email" placeholder="E-mail" />
        <input type="password" name="Password" placeholder="Password" />
        <input type="submit" name="signup_submit" style="background-color: #70af82;" value="Log in" />
        <br />
        <hr />
        <p style="margin:2px;">
            <a href="/User/ForgetPassword">Forgot Password ?</a><br />
        </p>
        <p style="margin:5px;">
            <a href="/User/RequestJoin">No Account ? Join</a>
        </p>
    </form>
</div>