
@{
    ViewBag.Title = "SignUp";
}
@model DatabaseModelProject.UserRequest
<section class="single-page-title" style="padding: 7% 0 5%;">
    <div class="container text-center">
        <h2>Sign Up</h2>
    </div>
</section>
<!-- .page-title -->

<section class="contact-form ptb-100">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h5 class="text-danger">@ViewBag.error</h5>
                <form method="post" >
                    <input type="hidden" name="req.token" value="@Model.token" />
                    <input type="hidden" name="req.RequestId" value="@Model.RequestId" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group user-name">
                                <label for="nameFive-first" class="sr-only">Userame</label>
                                <input type="text" name="user.username" class="form-control" required="" id="nameFive-first" placeholder="Username">
                            </div>
                            <div class="form-group user-pass">
                                <label for="nameFive-first" class="sr-only">Password</label>
                                <input type="password" name="user.password" class="form-control" required="" id="nameFive-first" placeholder="Password">
                            </div>

                            <div class="form-group user-email">
                                <label for="emailFive" class="sr-only">Email</label>
                                <input type="email" name="user.email" disabled="" value="@Model.Email" class="form-control" required="" id="emailFive" placeholder="Email Address">
                            </div>
                            <div class="form-group user-phone">
                                <label for="websiteOne" class="sr-only">Website</label>
                                <input type="text" name="user.mobileph" class="form-control" required="" id="websiteOne" placeholder="Mobile Phone">
                            </div>
                            <div class="form-group user-phone">
                                <label for="websiteTwo" class="sr-only">Website</label>
                                <input type="text" name="user.workph" class="form-control" required="" id="websiteTwi" placeholder="Work Phone">
                            </div>
                            <div class="col-sm-12" style="padding:0;">
                                <div class="col-sm-2" style="padding:0;">
                                    <label for=" websiteone" class="">
                                    Gender:</label>
                                </div>
                                <div class="col-sm-10" style="padding:0;">
                                    <div class="form-group ">
                                        <label for=" websiteone" class="sr-only">
                                            Gender
                                        </label>
                                        <select class="form-control" required="" name="gender" id="websiteOne">
                                            <option value="0">Male</option>
                                            <option value="1">Female</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div class="col-sm-12" style="padding:0;">
                                <div class="col-sm-2" style="padding:0;">
                                    <label for=" websiteone" class="">
                                        Date of Birth:
                                    </label>
                                </div>
                                <div class="col-sm-10" style="padding:0;">
                                    <div class="form-group ">
                                        <label for="websiteOne" class="sr-only">Date of Birth</label>
                                        <input type="date" name="user.dob" class="form-control" required="" id="websiteOne" placeholder="Date of Birth" />
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div><!-- /.col-md-6 -->
                        <div class="col-md-6">
                        <!--
                            <span>
                                <img style="width:100%;border:solid;" class="userpicP" src="/img/hero-slide-1.jpg" />
                            </span>
                            <div class="form-group">
                                <button type="button" onclick='$("#userpic").trigger("click");' class="btn form-control" style="margin-top:1%;background-color: lightgrey;">Choose Profile Picture</button>
                                <input type="file" class="userpic hide" onchange="PreviewImage()" required="" id="userpic" placeholder="Choose Your Profile Picture">
                            </div>
                            -->
                            <div class="form-group user-message">
                                <label for="messageOne" class="sr-only">Message</label>
                                <textarea name="user.info" class="form-control" required="" id="messageOne" placeholder="What are your wellness goals"></textarea>
                            </div>

                            <div class="form-group user-copmany">
                                <label for="websiteTwo" class="sr-only">Website</label>
                                <input type="text" name="user.company" class="form-control" required="" id="websiteTwi" placeholder="Company">
                            </div>
                        </div><!-- /.col-md-6 -->
                    </div><!-- /.row-->
                    <div class="col-sm-12" style="text-align:left;">

                        
                        <div class="form-group">
                            <label for="websiteTwo" class="">Public Profile: &nbsp;&nbsp;</label>
                            <input type="checkbox" name="ispublic" class="" id="websiteTwi" placeholder="Work Phone">
                            Yes! I'm happy for my imageand comments to be featured on this site
                        </div>
                        <div class="form-group ">
                            <label for="websiteTwo" class="">Newsletter: &nbsp;&nbsp;</label>
                            <input type="checkbox" name="newsletter" class="" id="websiteTwi" placeholder="Work Phone">
                            Please send me occasional email newsletters
                        </div>
                    </div>
                    <button type="submit" class="btn">Cancel</button>
                    <button type="submit" class="btn btn-success">Save</button>
                </form>

                <hr />
                <div class="clearfix"></div>
                <h2 style="display:inline;margin:0;">
                    Already Joined ? 
                    <a class="" href="/User/Login">Login</a>
                </h2>
                <div style="clear:both"></div>
            </div><!-- /.col-md-8 -->
        </div>

    </div>
</section>
<script>

    function PreviewImage() {
        var oFReader = new FileReader();
        oFReader.readAsDataURL(document.getElementById("userpic").files[0]);
        debugger;
        oFReader.onload = function (oFREvent) {
            $(".userpicP").attr('src', oFREvent.target.result);
        };
    };
</script>
