USE [master]
GO
/****** Object:  Database [EatMoveThink]    Script Date: 19-Feb-17 7:58:47 AM ******/
CREATE DATABASE [EatMoveThink]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EatMoveThink', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\EatMoveThink.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EatMoveThink_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\EatMoveThink_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EatMoveThink].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EatMoveThink]
GO
/****** Object:  Table [dbo].[DailyTaskPoints]    Script Date: 19-Feb-17 7:58:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DailyTaskPoints](
	[TaskID] [int] IDENTITY(1,1) NOT NULL,
	[TaskName] [varchar](50) NOT NULL,
	[Points] [int] NOT NULL,
 CONSTRAINT [PK_DailyTaskPoints] PRIMARY KEY CLUSTERED 
(
	[TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Program]    Script Date: 19-Feb-17 7:58:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Program](
	[ProgramID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](200) NOT NULL,
	[Text] [ntext] NOT NULL,
	[Intensity] [int] NOT NULL,
	[Points] [int] NOT NULL CONSTRAINT [DF_Program_Points]  DEFAULT ((0)),
	[ImageURL] [varchar](50) NULL,
	[pdf] [varchar](50) NULL,
 CONSTRAINT [PK_Program] PRIMARY KEY CLUSTERED 
(
	[ProgramID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProgramTasks]    Script Date: 19-Feb-17 7:58:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProgramTasks](
	[ProgramTaskID] [int] IDENTITY(1,1) NOT NULL,
	[ProgramID] [int] NOT NULL,
	[DayID] [int] NOT NULL,
	[WeekID] [int] NOT NULL,
	[Points] [int] NOT NULL,
	[Text] [ntext] NOT NULL,
 CONSTRAINT [PK_ProgramTasks] PRIMARY KEY CLUSTERED 
(
	[ProgramTaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StaticPageData]    Script Date: 19-Feb-17 7:58:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StaticPageData](
	[PageID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](50) NOT NULL,
	[Data] [ntext] NOT NULL,
 CONSTRAINT [PK_StaticPageData] PRIMARY KEY CLUSTERED 
(
	[PageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SubscribeProgram]    Script Date: 19-Feb-17 7:58:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubscribeProgram](
	[SubscribeProgramID] [int] IDENTITY(1,1) NOT NULL,
	[ProgramID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Finish] [bit] NOT NULL,
	[onSubscribe] [date] NOT NULL CONSTRAINT [DF_SubscribeProgram_onSubscribe]  DEFAULT (getdate()),
 CONSTRAINT [PK_SubscribeProgram] PRIMARY KEY CLUSTERED 
(
	[SubscribeProgramID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubscribeProgramTask]    Script Date: 19-Feb-17 7:58:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubscribeProgramTask](
	[SubscribeProgramTaskID] [int] IDENTITY(1,1) NOT NULL,
	[SubscribeProgramID] [int] NOT NULL,
	[ProgramTaskID] [int] NOT NULL,
 CONSTRAINT [PK_SubscribeProgramTask] PRIMARY KEY CLUSTERED 
(
	[SubscribeProgramTaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 19-Feb-17 7:58:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[dob] [date] NOT NULL,
	[mobileph] [varchar](20) NULL,
	[workph] [varchar](20) NULL,
	[company] [varchar](100) NULL,
	[gender] [int] NOT NULL CONSTRAINT [DF_User_gender]  DEFAULT ((0)),
	[password] [varchar](50) NOT NULL,
	[ispublic] [bit] NOT NULL,
	[newsletter] [bit] NULL,
	[info] [text] NOT NULL,
	[isActive] [bit] NOT NULL CONSTRAINT [DF_User_isActive]  DEFAULT ((1)),
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserDailyTasks]    Script Date: 19-Feb-17 7:58:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDailyTasks](
	[UserDailyTaskID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Day] [date] NOT NULL,
	[TaskID] [int] NOT NULL,
	[Finish] [bit] NOT NULL,
 CONSTRAINT [PK_UserDailyTasks] PRIMARY KEY CLUSTERED 
(
	[UserDailyTaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserRequest]    Script Date: 19-Feb-17 7:58:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserRequest](
	[RequestId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[token] [varchar](300) NULL,
	[active] [bit] NOT NULL,
	[oncreated] [datetime] NOT NULL CONSTRAINT [DF_UserRequest_oncreated]  DEFAULT (getdate()),
 CONSTRAINT [PK_UserRequest] PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[DailyTaskPoints] ON 

INSERT [dbo].[DailyTaskPoints] ([TaskID], [TaskName], [Points]) VALUES (1, N'enjoy', 2)
INSERT [dbo].[DailyTaskPoints] ([TaskID], [TaskName], [Points]) VALUES (2, N'affirmation', 2)
INSERT [dbo].[DailyTaskPoints] ([TaskID], [TaskName], [Points]) VALUES (3, N'smile', 2)
SET IDENTITY_INSERT [dbo].[DailyTaskPoints] OFF
SET IDENTITY_INSERT [dbo].[Program] ON 

INSERT [dbo].[Program] ([ProgramID], [Title], [Text], [Intensity], [Points], [ImageURL], [pdf]) VALUES (9, N'5_day_health_kickstart', N'This is a five day program for health ....', 1, 125, N'/img/2ab1147d-95f2-4c4b-8ab2-70aa66038898.jpg', N'/docs/b46e01ed-0280-4265-a7d4-70fb01070431.pdf')
SET IDENTITY_INSERT [dbo].[Program] OFF
SET IDENTITY_INSERT [dbo].[ProgramTasks] ON 

INSERT [dbo].[ProgramTasks] ([ProgramTaskID], [ProgramID], [DayID], [WeekID], [Points], [Text]) VALUES (17, 7, 1, 1, 2, N'Running 5mins')
INSERT [dbo].[ProgramTasks] ([ProgramTaskID], [ProgramID], [DayID], [WeekID], [Points], [Text]) VALUES (18, 7, 2, 1, 3, N'Running 10mins')
INSERT [dbo].[ProgramTasks] ([ProgramTaskID], [ProgramID], [DayID], [WeekID], [Points], [Text]) VALUES (19, 7, 1, 2, 1, N'Running 15 mins')
SET IDENTITY_INSERT [dbo].[ProgramTasks] OFF
SET IDENTITY_INSERT [dbo].[StaticPageData] ON 

SET IDENTITY_INSERT [dbo].[StaticPageData] OFF
SET IDENTITY_INSERT [dbo].[SubscribeProgram] ON 

INSERT [dbo].[SubscribeProgram] ([SubscribeProgramID], [ProgramID], [UserID], [Finish], [onSubscribe]) VALUES (16, 9, 5, 0, CAST(N'2017-02-18' AS Date))
INSERT [dbo].[SubscribeProgram] ([SubscribeProgramID], [ProgramID], [UserID], [Finish], [onSubscribe]) VALUES (17, 9, 4, 0, CAST(N'2017-02-19' AS Date))
SET IDENTITY_INSERT [dbo].[SubscribeProgram] OFF
SET IDENTITY_INSERT [dbo].[SubscribeProgramTask] ON 

INSERT [dbo].[SubscribeProgramTask] ([SubscribeProgramTaskID], [SubscribeProgramID], [ProgramTaskID]) VALUES (9, 16, 23)
INSERT [dbo].[SubscribeProgramTask] ([SubscribeProgramTaskID], [SubscribeProgramID], [ProgramTaskID]) VALUES (10, 17, 23)
SET IDENTITY_INSERT [dbo].[SubscribeProgramTask] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [username], [email], [dob], [mobileph], [workph], [company], [gender], [password], [ispublic], [newsletter], [info], [isActive]) VALUES (4, N'Admin', N'admin@gmail.com', CAST(N'2017-02-09' AS Date), N'03214445292', N'03214445292', N'WELL BEING', 0, N'admin', 1, 1, N'Hi i am admin', 1)
INSERT [dbo].[User] ([UserID], [username], [email], [dob], [mobileph], [workph], [company], [gender], [password], [ispublic], [newsletter], [info], [isActive]) VALUES (5, N'Hisham', N'tagheir@gmail.com', CAST(N'1994-07-15' AS Date), N'03214445292', N'03214445292', N'WELL BEING', 0, N'pak123lahore', 1, 1, N'I want to be healthy', 0)
INSERT [dbo].[User] ([UserID], [username], [email], [dob], [mobileph], [workph], [company], [gender], [password], [ispublic], [newsletter], [info], [isActive]) VALUES (6, N'Hisham', N'tagheir.hisham@gmail.com', CAST(N'2008-06-11' AS Date), N'03214445292', N'03214445292', N'sadadasd', 0, N'pak123lahore', 0, NULL, N'asdasdadadas', 1)
SET IDENTITY_INSERT [dbo].[User] OFF
SET IDENTITY_INSERT [dbo].[UserDailyTasks] ON 

INSERT [dbo].[UserDailyTasks] ([UserDailyTaskID], [UserID], [Day], [TaskID], [Finish]) VALUES (67, 5, CAST(N'2017-02-17' AS Date), 11, 1)
INSERT [dbo].[UserDailyTasks] ([UserDailyTaskID], [UserID], [Day], [TaskID], [Finish]) VALUES (68, 5, CAST(N'2017-02-17' AS Date), 12, 0)
INSERT [dbo].[UserDailyTasks] ([UserDailyTaskID], [UserID], [Day], [TaskID], [Finish]) VALUES (69, 5, CAST(N'2017-02-14' AS Date), 14, 1)
SET IDENTITY_INSERT [dbo].[UserDailyTasks] OFF
SET IDENTITY_INSERT [dbo].[UserRequest] ON 

INSERT [dbo].[UserRequest] ([RequestId], [Email], [token], [active], [oncreated]) VALUES (1, N'admin@gmail.com', N'admin@gmail.com', 1, CAST(N'2017-02-18 23:49:08.057' AS DateTime))
INSERT [dbo].[UserRequest] ([RequestId], [Email], [token], [active], [oncreated]) VALUES (2, N'tagheir@gmail.com', N'tagheir@gmail.com', 1, CAST(N'2017-02-18 23:49:22.840' AS DateTime))
INSERT [dbo].[UserRequest] ([RequestId], [Email], [token], [active], [oncreated]) VALUES (3, N'tagheiranas@gmail.com', N'df0a79d2-81e2-40b6-8f39-133e93bb84f9', 0, CAST(N'2017-02-19 00:17:48.500' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserRequest] OFF
/****** Object:  Index [ProgramTaskConstraint]    Script Date: 19-Feb-17 7:58:47 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [ProgramTaskConstraint] ON [dbo].[ProgramTasks]
(
	[DayID] ASC,
	[ProgramID] ASC,
	[WeekID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SubscribeProgram]    Script Date: 19-Feb-17 7:58:47 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_SubscribeProgram] ON [dbo].[SubscribeProgram]
(
	[ProgramID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [EMail_User]    Script Date: 19-Feb-17 7:58:47 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [EMail_User] ON [dbo].[User]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserDailyTasks]    Script Date: 19-Feb-17 7:58:47 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_UserDailyTasks] ON [dbo].[UserDailyTasks]
(
	[TaskID] ASC,
	[UserID] ASC,
	[Day] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserRequest]    Script Date: 19-Feb-17 7:58:47 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_UserRequest] ON [dbo].[UserRequest]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SubscribeProgram]  WITH CHECK ADD  CONSTRAINT [FK_SubscribeProgram_Program] FOREIGN KEY([ProgramID])
REFERENCES [dbo].[Program] ([ProgramID])
GO
ALTER TABLE [dbo].[SubscribeProgram] CHECK CONSTRAINT [FK_SubscribeProgram_Program]
GO
ALTER TABLE [dbo].[SubscribeProgram]  WITH CHECK ADD  CONSTRAINT [FK_SubscribeProgram_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[SubscribeProgram] CHECK CONSTRAINT [FK_SubscribeProgram_User]
GO
ALTER TABLE [dbo].[SubscribeProgramTask]  WITH CHECK ADD  CONSTRAINT [FK_SubscribeProgramTask_ProgramTask] FOREIGN KEY([ProgramTaskID])
REFERENCES [dbo].[ProgramTasks] ([ProgramTaskID])
GO
ALTER TABLE [dbo].[SubscribeProgramTask] CHECK CONSTRAINT [FK_SubscribeProgramTask_ProgramTask]
GO
ALTER TABLE [dbo].[SubscribeProgramTask]  WITH CHECK ADD  CONSTRAINT [FK_SubscribeProgramTask_SubscribeProgram] FOREIGN KEY([SubscribeProgramID])
REFERENCES [dbo].[SubscribeProgram] ([SubscribeProgramID])
GO
ALTER TABLE [dbo].[SubscribeProgramTask] CHECK CONSTRAINT [FK_SubscribeProgramTask_SubscribeProgram]
GO
ALTER TABLE [dbo].[UserDailyTasks]  WITH CHECK ADD  CONSTRAINT [FK_UserDailyTasks_Tasks] FOREIGN KEY([TaskID])
REFERENCES [dbo].[DailyTaskPoints] ([TaskID])
GO
ALTER TABLE [dbo].[UserDailyTasks] CHECK CONSTRAINT [FK_UserDailyTasks_Tasks]
GO
ALTER TABLE [dbo].[UserDailyTasks]  WITH CHECK ADD  CONSTRAINT [FK_UserDailyTasks_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[UserDailyTasks] CHECK CONSTRAINT [FK_UserDailyTasks_Users]
GO
USE [master]
GO
