
USE [EatMoveThink]
GO
/****** Object:  Table [dbo].[DailyTaskPoints]    Script Date: 17-Feb-17 12:11:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DailyTaskPoints](
	[TaskID] [int] IDENTITY(1,1) NOT NULL,
	[TaskName] [varchar](50) NOT NULL,
	[Points] [int] NOT NULL,
 CONSTRAINT [PK_DailyTaskPoints] PRIMARY KEY CLUSTERED 
(
	[TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Program]    Script Date: 17-Feb-17 12:11:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Program](
	[ProgramID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](200) NOT NULL,
	[Text] [ntext] NOT NULL,
	[Intensity] [int] NOT NULL,
	[Points] [int] NOT NULL CONSTRAINT [DF_Program_Points]  DEFAULT ((0)),
	[ImageURL] [varchar](50) NULL,
 CONSTRAINT [PK_Program] PRIMARY KEY CLUSTERED 
(
	[ProgramID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProgramTasks]    Script Date: 17-Feb-17 12:11:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProgramTasks](
	[ProgramTaskID] [int] IDENTITY(1,1) NOT NULL,
	[ProgramID] [int] NOT NULL,
	[DayID] [int] NOT NULL,
	[WeekID] [int] NOT NULL,
	[Points] [int] NOT NULL,
	[Text] [ntext] NOT NULL,
 CONSTRAINT [PK_ProgramTasks] PRIMARY KEY CLUSTERED 
(
	[ProgramTaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StaticPageData]    Script Date: 17-Feb-17 12:11:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StaticPageData](
	[PageID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](50) NOT NULL,
	[Data] [ntext] NOT NULL,
 CONSTRAINT [PK_StaticPageData] PRIMARY KEY CLUSTERED 
(
	[PageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SubscribeProgram]    Script Date: 17-Feb-17 12:11:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubscribeProgram](
	[SubscribeProgramID] [int] IDENTITY(1,1) NOT NULL,
	[ProgramID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Finish] [bit] NOT NULL,
	[onSubscribe] [date] NOT NULL,
 CONSTRAINT [PK_SubscribeProgram] PRIMARY KEY CLUSTERED 
(
	[SubscribeProgramID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubscribeProgramTask]    Script Date: 17-Feb-17 12:11:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubscribeProgramTask](
	[SubscribeProgramTaskID] [int] IDENTITY(1,1) NOT NULL,
	[SubscribeProgramID] [int] NOT NULL,
	[ProgramTaskID] [int] NOT NULL,
 CONSTRAINT [PK_SubscribeProgramTask] PRIMARY KEY CLUSTERED 
(
	[SubscribeProgramTaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 17-Feb-17 12:11:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[dob] [date] NOT NULL,
	[mobileph] [varchar](20) NULL,
	[workph] [varchar](20) NULL,
	[company] [varchar](100) NULL,
	[gender] [int] NOT NULL,
	[password] [varchar](50) NOT NULL,
	[ispublic] [bit] NOT NULL,
	[newsletter] [bit] NULL,
	[info] [text] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserDailyTasks]    Script Date: 17-Feb-17 12:11:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDailyTasks](
	[UserDailyTaskID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Day] [date] NOT NULL,
	[TaskID] [int] NOT NULL,
	[Finish] [bit] NOT NULL,
 CONSTRAINT [PK_UserDailyTasks] PRIMARY KEY CLUSTERED 
(
	[UserDailyTaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[DailyTaskPoints] ON 

INSERT [dbo].[DailyTaskPoints] ([TaskID], [TaskName], [Points]) VALUES (1, N'enjoy', 2)
INSERT [dbo].[DailyTaskPoints] ([TaskID], [TaskName], [Points]) VALUES (2, N'affirmation', 2)
INSERT [dbo].[DailyTaskPoints] ([TaskID], [TaskName], [Points]) VALUES (3, N'smile', 2)
SET IDENTITY_INSERT [dbo].[DailyTaskPoints] OFF
SET IDENTITY_INSERT [dbo].[Program] ON 

INSERT [dbo].[Program] ([ProgramID], [Title], [Text], [Intensity], [Points], [ImageURL]) VALUES (1, N'Title', N'sadassadsadsadsasadsadsa
dsadsadsadsadsadsadsa
dasdsadsadsadsadsadsad
sdsadsadsadsdsdsadsa
sadsdsadsasdsadsad
sadsadsdsdsasdsa
dsadsadsadsasadsad
asadsadsdsadsadsa
sadsadsadsadsad
', 2, 7, NULL)
INSERT [dbo].[Program] ([ProgramID], [Title], [Text], [Intensity], [Points], [ImageURL]) VALUES (2, N'sdadas', N'sdsdasdsad
dasd
sadsa
dsa
dsa
das
d', 3, 13, NULL)
INSERT [dbo].[Program] ([ProgramID], [Title], [Text], [Intensity], [Points], [ImageURL]) VALUES (3, N'Dummy Program', N'sadasdsadsadsadsad
sdsadsadasdsadsadsadsa
dsdsdsdsdsdsdsad
sdsadvxcvxcv
dffd
bb
', 2, 3, NULL)
SET IDENTITY_INSERT [dbo].[Program] OFF
SET IDENTITY_INSERT [dbo].[ProgramTasks] ON 

INSERT [dbo].[ProgramTasks] ([ProgramTaskID], [ProgramID], [DayID], [WeekID], [Points], [Text]) VALUES (1, 1, 1, 1, 1, N'sadas')
INSERT [dbo].[ProgramTasks] ([ProgramTaskID], [ProgramID], [DayID], [WeekID], [Points], [Text]) VALUES (2, 1, 1, 2, 2, N'sadasd')
INSERT [dbo].[ProgramTasks] ([ProgramTaskID], [ProgramID], [DayID], [WeekID], [Points], [Text]) VALUES (3, 1, 2, 2, 4, N'dsd')
SET IDENTITY_INSERT [dbo].[ProgramTasks] OFF
SET IDENTITY_INSERT [dbo].[StaticPageData] ON 

SET IDENTITY_INSERT [dbo].[StaticPageData] OFF
/****** Object:  Index [ProgramTaskConstraint]    Script Date: 17-Feb-17 12:11:27 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [ProgramTaskConstraint] ON [dbo].[ProgramTasks]
(
	[DayID] ASC,
	[ProgramID] ASC,
	[WeekID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SubscribeProgram]    Script Date: 17-Feb-17 12:11:27 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_SubscribeProgram] ON [dbo].[SubscribeProgram]
(
	[ProgramID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [EMail_User]    Script Date: 17-Feb-17 12:11:27 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [EMail_User] ON [dbo].[User]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserDailyTasks]    Script Date: 17-Feb-17 12:11:27 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_UserDailyTasks] ON [dbo].[UserDailyTasks]
(
	[TaskID] ASC,
	[UserID] ASC,
	[Day] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SubscribeProgram] ADD  CONSTRAINT [DF_SubscribeProgram_onSubscribe]  DEFAULT (getdate()) FOR [onSubscribe]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_gender]  DEFAULT ((0)) FOR [gender]
GO
ALTER TABLE [dbo].[SubscribeProgram]  WITH CHECK ADD  CONSTRAINT [FK_SubscribeProgram_Program] FOREIGN KEY([ProgramID])
REFERENCES [dbo].[Program] ([ProgramID])
GO
ALTER TABLE [dbo].[SubscribeProgram] CHECK CONSTRAINT [FK_SubscribeProgram_Program]
GO
ALTER TABLE [dbo].[SubscribeProgram]  WITH CHECK ADD  CONSTRAINT [FK_SubscribeProgram_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[SubscribeProgram] CHECK CONSTRAINT [FK_SubscribeProgram_User]
GO
ALTER TABLE [dbo].[SubscribeProgramTask]  WITH CHECK ADD  CONSTRAINT [FK_SubscribeProgramTask_ProgramTask] FOREIGN KEY([ProgramTaskID])
REFERENCES [dbo].[ProgramTasks] ([ProgramTaskID])
GO
ALTER TABLE [dbo].[SubscribeProgramTask] CHECK CONSTRAINT [FK_SubscribeProgramTask_ProgramTask]
GO
ALTER TABLE [dbo].[SubscribeProgramTask]  WITH CHECK ADD  CONSTRAINT [FK_SubscribeProgramTask_SubscribeProgram] FOREIGN KEY([SubscribeProgramID])
REFERENCES [dbo].[SubscribeProgram] ([SubscribeProgramID])
GO
ALTER TABLE [dbo].[SubscribeProgramTask] CHECK CONSTRAINT [FK_SubscribeProgramTask_SubscribeProgram]
GO
ALTER TABLE [dbo].[UserDailyTasks]  WITH CHECK ADD  CONSTRAINT [FK_UserDailyTasks_Tasks] FOREIGN KEY([TaskID])
REFERENCES [dbo].[DailyTaskPoints] ([TaskID])
GO
ALTER TABLE [dbo].[UserDailyTasks] CHECK CONSTRAINT [FK_UserDailyTasks_Tasks]
GO
ALTER TABLE [dbo].[UserDailyTasks]  WITH CHECK ADD  CONSTRAINT [FK_UserDailyTasks_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[UserDailyTasks] CHECK CONSTRAINT [FK_UserDailyTasks_Users]
GO
